

@{
    ViewData["Title"] = "_SideNavPartialView";
}

<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu nav d-block">
            <li class="nav-item">
                
                    <a asp-area="Admin" asp-controller="Home" asp-action="Accounts">
                        <span class="icon-holder">
                            <i class="fa fa-users text-primary"></i>
                        </span>
                        <span class="title">Accounts</span>
                    </a>
                
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="ChargingportType" asp-action="Index">
                    <span class="icon-holder">
                        <i class="mdi mdi-label-outline text-info"></i>
                    </span>
                    <span class="title">ChargingportType</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Color" asp-action="Index">
                    <span class="icon-holder">
                        <i class="mdi mdi-verified text-success"></i>
                    </span>
                    <span class="title">Color</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="ProductionCompany" asp-action="Index">
                    <span class="icon-holder">
                        <i class="mdi mdi-folder icon-gradient-danger"></i>
                    </span>
                    <span class="title">Production Company</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="ChipCPUs" asp-action="Index">
                    <span class="icon-holder">
                        <i class="mdi mdi-language-html5 text-primary"></i>
                    </span>
                    <span class="title">ChipCPUs</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="ChipGPUs" asp-action="Index">
                    <span class="icon-holder">
                        <i class="mdi mdi-language-css3 text-info"></i>
                    </span>
                    <span class="title">ChipGPUs</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Phone" asp-action="Index">
                    <span class="icon-holder">
                        <i class="mdi mdi-language-javascript text-warning"></i>
                    </span>
                    <span class="title">Phone</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="PhoneDetaild" asp-action="Index">
                    <span class="icon-holder">
                        <i class="mdi mdi-language-javascript text-warning"></i>
                    </span>
                    <span class="title">Phone Detaild</span>
                </a>
            </li> 
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Battery" asp-action="Index">
                    <span class="icon-holder">
                        <i class="mdi mdi-language-javascript text-warning"></i>
                    </span>
                    <span class="title">Battery</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Material" asp-action="Index">
                    <span class="icon-holder">
                        <i class="mdi mdi-language-javascript text-warning"></i>
                    </span>
                    <span class="title">Material</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Operating" asp-action="Index">
                    <span class="icon-holder">
                        <i class="mdi mdi-language-javascript text-warning"></i>
                    </span>
                    <span class="title">Operating System</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Ram" asp-action="Index">
                    <span class="icon-holder">
                        <i class="mdi mdi-language-javascript text-warning"></i>
                    </span>
                    <span class="title">Ram</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Rom" asp-action="Index">
                    <span class="icon-holder">
                        <i class="mdi mdi-language-javascript text-warning"></i>
                    </span>
                    <span class="title">Rom</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#ultility-class" data-toggle="tab">
                    <span class="icon-holder">
                        <i class="mdi mdi-image-filter-tilt-shift icon-gradient-info"></i>
                    </span>
                    <span class="title">Utility Classes</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-action="LogOut" asp-controller="Home">
                    <span class="icon-holder">
                        <i class="fa fa-sign-out text-danger"></i>
                    </span>
                    <span class="title">Sign out</span>
                </a>
            </li>
        </ul>
    </div>
</div>