@model AppData.ViewModels.UserVM

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form | Dan Aleko</title>
	<link href="~/loginandregister/style.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
          @using (Html.BeginForm("DangKy", "Acc", FormMethod.Post))
            {
        <form action="">
            <h1>Đăng Ký</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "text-danger" })<br>
                @Html.ValidationMessageFor(Model => Model.TenTaiKhoan, "", new { @class = "text-danger" })<br>
                @Html.ValidationMessageFor(Model => Model.MatKhau, "", new { @class = "text-danger" })<br>
            <div class="input-box">
                    <input type="text" placeholder="Email" name="Email" required>
                    <i class='bx bxs-envelope'></i>
                   
            </div> 
            <div class="input-box">
                    <input type="text" placeholder="Tên Tài Khoản" name="TenTaiKhoan" required>
                <i class='bx bxs-user'></i>
                   
            </div>

            <div class="input-box">
                    <input type="password" placeholder="Mật Khẩu" name="MatKhau" id="MatKhau" required>
                <i class='bx bxs-lock-alt'></i>
                  
            </div>

            <div class="remember-forgot">
                    <label><input type="checkbox" onclick="showHidePassword()">Hiện MK</label>
                <a href="#">Quên MK</a>
            </div>
            <button type="submit" class="btn">Đăng Ký</button>
            <div class="register-link">
                    <p>I have an account? <a href="@Url.Action("DangNhap","Acc")">Đăng Nhập</a></p>
            </div>
        </form>
        }
    </div>
</body>
</html>


<script>
    function showHidePassword() {
        var passwordInput = document.getElementById("MatKhau");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    }
</script>