@model AppData.ViewModels.BlogVM

@{
    ViewData["Title"] = "DetailBlogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <p>Fix lỗi  nav rộng</p>
    <p></p>
    <p></p>
</div>
<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact</a></li>
                </ul>
            </div>

        </div>
    </div>

@*bắt đầu*@
<div class="container contact_container">
	<div class="row">
		<div class="col">

			<!-- Breadcrumbs -->

			<div class="breadcrumbs d-flex flex-row align-items-center">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact</a></li>
				</ul>
			</div>

		</div>
	</div>

	<div>
		@Html.Raw(Model.NoiDung)
	</div>

</div>
